div(class='container2')
    div(class='title')
        p Register Account
    form(action='/signup' method='POST')
        label(for='firstName') First Name:
        br
        input(type='text' name='firstName' style='width:100%' maxlength='45' required)
        br
        label(for='lastName') Last Name:
        br
        input(type='text' name='lastName' style='width:100%' maxlength='45' required)
        br
        label(for='email') Email Address:
        br
        input(type='email' name='email' style='width:100%' maxlength='100' required)
        br
        label(for='username') Username:
        br
        input(type='text' name='user' style='width:100%' maxlength='15' required)
        br
        label(for='password') Password:
        br
        input(type='password' name='password' style='width:100%' maxlength='128' required)
        br
        label(for='repassword') Re-type Password:
        br
        input(type='password' name='repassword' style='width:100%' maxlength='128' required)
        br
        br
        div(class='button')
            input(type='submit' value='OK' class='button')
    form(action='/login' method='GET')
        div(class='button')
            input(type='submit' value='Back' class='button')